.pick {
  appearance: none;
  width: 20px;
  height: 40px;
  mask-image: url('./more-vert.svg');
  mask-size: cover;
  mask-position: center center;
  background-size: cover;
  border: 0 none;
  outline: none;
  color: transparent;
  user-select: none;
}