.content {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr auto;
  --face-color: #fff;
  --text-color: #ee693f;
  @supports(padding: max(0px)) {
    padding-bottom: max(5px, env(safe-area-inset-bottom));
  }
}

.card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 40px;
  color: var(--text-color);
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--face-color);
  word-break: break-word;
  hyphens: auto;
  word-wrap: break-word;
  text-align: center;
}
