.container {
  width: 100%;
  height: 100%;
  padding: 5px 10px 0px 10px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.header {
  display: flex;
  align-items: center;
}
.close {
  position: relative;
  width: 40px;
  height: 40px;
  color: #ee693f;
  position: relative;
  overflow: hidden;
  outline: none;
  &::after {
    content: '×';
    font-size: 40px;
    line-height: 40px;
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.content {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr auto;
  @supports(padding: max(0px)) {
    padding-bottom: max(5px, env(safe-area-inset-bottom));
  }
}

.card {
  width: 100%;
  padding: 10px;
  border: 1px solid #ee693f;
  border-radius: 10px;
  font-size: 40px;
  color: #ee693f;
  display: flex;
  justify-content: center;
  align-items: center;
}