.view-list {
  &__wrapper {
    overflow-y: auto;
    height: 100%;
    position: relative;
  }
  &__container {
    position: relative;
    overflow-y: auto;
  }
  &__link {
    text-decoration: none;
    color: var(--fifth-color);
    font-size: 20px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
  }
}