.container {
  -webkit-tap-highlight-color: transparent;
}
.label {
  display: inline-block;
  font-size: 18px;
  --switch-width: 40px;
  --switch-height: 20px;
}
.input {
  opacity: 0.1;
  position: absolute;
  appearance: none;
  & + .label {
    position: relative;
    padding-left: calc(var(--switch-width) + 10px);
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: calc(var(--switch-height) / 2);
      margin: auto;
      height: var(--switch-height);
      transition: 0.3s all ease-in-out;
    }
    &::before {
      background: #e5e5e5;
      border: 1px solid #e5e5e5;
      width: var(--switch-width);
    }
    &::after {
      background: #cbcbcb;
      width: var(--switch-height);
    }
  }
  &:checked ~ .label {
    &::before {
      background: #cbcbcb;
    }
    &::after {
      background: #646464;
      transform: translate3d(
        calc(var(--switch-width) - var(--switch-height)),
        0,
        0
      );
    }
  }
  &:focus + .label::before {
    border-color: #cbcbcb;
  }
}
