.fc-slider {
  &--posetive {
    --face-color: #739f3d;
    --text-color: #fff;
  }
    
  &--negative {
    --face-color: #ee693f;
    --text-color: #fff;
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
  }
  &__prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    will-change: transform;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    background: #fff;
  }
}
