.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  flex: 0 0 auto;
  display: flex;
  gap: 15px;
}
.more {
  background-color: var(--fifth-color);
}
.add {
  width: 40px;
  height: 40px;
  background-color: var(--fifth-color);
  border-radius: 4px;
  position: relative;
  &::after {
    content: '+';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 34px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    line-height: 34px;
  }
}
.title {
  font-size: 20px;
  flex: 1 1 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  padding: 10px;
  display: grid;
  gap: 15px;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
  // https://webkit.org/blog/7929/designing-websites-for-iphone-x/
  @supports(padding: max(0px)) {
    padding-bottom: max(12px, env(safe-area-inset-bottom));
  }
}
