.form-field {
  &__label {
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    color: #646464;
  }
  &__field {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid transparent;
    border-bottom-color: #739f3d;
    appearance: none;
    padding: 8px;
    &_text {
      padding: 8px;
    }
  }
}